#logo {
    width: 50px;
    margin-left: 10px;
  }

  .target {
    position: relative;
    top: -60px;
  }

  .header-text {
    font-size: 2rem;
    font-weight: bold
  }

  .subtitle {
    margin-top: 20px;
  }

  .color-msu {
    color: #FFFFFF;
    background-color: #d1190d;
  }

  .btn-color-msu-scaling {
    color: #FFFFFF;
    background-color: #d1190d;
    font-size: clamp(20px, 2.25vw, 25px);
  }

  .btn-color-msu {
    color: #FFFFFF;
    background-color: #d1190d;
  }

  .btn-color-msu-scaling:hover {
  color: #FFFFFF;
  background-color: #e9392d;
  border-color: #8ad3d3
  }

  .btn-color-msu:hover {
    color: #FFFFFF;
    background-color: #e9392d;
    border-color: #8ad3d3
    }

 .stop-text-size {
  font-size: clamp(30px, 5vw, 50px);
  
 }