#logo {
    max-width: 50px;
    min-width: 30px;
    width: 4vw;
    margin-left: 10px;
  }

  .target {
    position: relative;
    top: -60px;
  }

  .header-text {
    font-size: 2rem;
    font-weight: bold
  }

  .subtitle {
    margin-top: 20px;
  }